<div class="about-section">
    <h1>About Us</h1>
    <img class="card-img mb-3 " src="https://i.ibb.co/fQXLnY3/416969.jpg" alt="Card image" >
    <p>Some text about who we are and what we do.</p>
    <p>Drawing was one of the first mediums I explored. From finger painting to lunch hour art clubs, art was always a way to express myself. Grade school and high school years included many juried art competitions from which I took home ribbons and awards..</p>
  </div>
  
  <h2 style="text-align:center">Our Tools</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/8sfnm9N/unknown-1.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Adobe After Effects</h2>
          <p class="title">Audio and Film Editing</p>
          <p>Some text that describes meeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veliteque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veliteque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci </p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/Th61BrV/unknown-2.png" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Sony Vegas Pro</h2>
          <p class="title">Video Editing</p>
          <p>eque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veliteque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veliteque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit lorem ipsum ipsum lorem.</p>
        
          <br>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/r2N8dcm/unknown.png" alt="John" style="width:100%">
        <div class="container">
          <h2>Adobe Photoshop CC</h2>
          <p class="title">Image Designs</p>
          <p>eque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veliteque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veliteque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velitlorem ipsum ipsum lorem.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>