<div class="lists">
    <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/37hsH6L/FL75-Hr-Fa-IAAZh-Rv.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Manga Mouse Pad</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/MDsTp3L/demon-slayer-kimetsu-no-yaiba-zenitsu-agatsuma-gamer-mouse-pad-xl-size-pc-gaming-computer-desk-mat-f.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Demon Slayer Mouse Pad</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/Zx1LVL6/bioworld-unisex-t-shirts-hunter-x-hunter-killua-eyes-dye-t-shirt-crunchyroll-exclusive-2971950524010.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Hunter X Hunter Shirt</p>
        </div>
      </div>
</div>
<div class="lists">
    <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/gWwzG1c/bioworld-unisex-t-shirts-darling-in-the-franxx-zero-two-eyes-dye-t-shirt-crunchyroll-exclusive-29719.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Darling In The Franxx Shirt</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/Qr41H10/3sxty-unisex-t-shirts-cr-loves-jujutsu-kaisen-yuji-itadori-sketch-long-sleeve-29020480667692-2000x20.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Jujutsu Kaisen Sweater</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/PCD2qLp/3sxty-unisex-t-shirts-cr-loves-jujutsu-kaisen-satoru-gojo-blindfold-long-sleeve-29020434694188-2000x.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Jujutsu Kaisen Hoodie</p>
        </div>
      </div>
</div>